Checks: '-*,readability-identifier-naming'
CheckOptions:
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.MemberPrefix: m_
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.MacroCase: UPPER_CASE